aiogram==2.8
oauth2client
Pillow==7.0.0
gspread==3.6.0
heroku3==4.2.1
vk-api==11.8.0
telegraph==1.4.0
requests==2.18.4
telegraph==1.4.0
certifi>=2019.3.9
unidecode==1.0.23
fake-headers==1.0.2
beautifulsoup4==4.8.0
requests-futures==1.0.0
pyTelegramBotAPI==3.6.6
faster-than-requests==0.9.6
